body{
	background: linear-gradient(#2b1055,#7507de);
	overflow-x: hidden;
	height: 100vh;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}
header .logo{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}
header ul {
	display: flex;
	justify-content: center;
	align-items: center;

}
header ul li {
	list-style: none;
	margin-left: 20px;
}
header ul li a {
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius:20px;
}
header ul li a:hover,
header ul li a:active{
	background: #fff;
	color: #2b1055;
}
section{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
section::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top,#1c0522,transparent);
	z-index: 1000;
}
section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

section img#moon{
	mix-blend-mode: screen;
}
section img#mountains_front{
	z-index: 10;
}
#text{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: #fff;
	white-space: nowrap;
	font-size: 5vw;
	z-index:100;
 
}
#btn{
	text-decoration: none;
	display: inline-block;
	padding: 8px 30px;
	border-radius: 40px;
	background: #ffF;
	color: #2b1055;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(100px);

}
.sec{
	position: relative;
	padding: 100px;
	background: #1c0522;
}
.sec h2{
	font-size: 3.5em;
	margin-bottom: 10px;
	color: #fff;
}
.sec p{
	font-size: 1.2em;
	color: #fff;
	text-align: justify;
}
/*Social footer */
footer{
	background: linear-gradient(#2b1055,#7507de);
 
}
.social-icons a{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin:20px 10px;
	background: linear-gradient(#2b1055,#7507de);
}
.social-icons{
	display: flex;
	justify-content: center;
	margin:10px;

}
.social-icons a i{
	color: #000;
}
.social-icons a:hover{
   box-shadow: 2px 2px 12px rgba(0,0,0,0.5);
   transition: all ease 0.5s;
}
.social-icons a:hover i{
	color: #fff;
}